div.home
  div
    div.mobile-logo
      p Peluquería Sensaciones
    div
      p Peluquería Sensaciones abrió sus puertas en Octubre de 2007. Ofrecemos un servicio profesional y adaptado a tus necesidades.
      p Disponemos de descuentos para mayores de 65 años los lunes por la mañana.
    div.home-slide
      ul.slide
        each val in ['img1', 'img2', 'img3', 'img4']
          li
            img(src="assets/img/" + val + ".jpg")
div.prices
  div
    h3 Servicios y tarifas
    table
      each price, service in {'Corte':'11', 'Lavar y marcar con rulos':'8', 'Lavar y secar/corto':'10', 'Lavar y secar/melena':'12', 'Lavar y secar/medio largo':'15', 'Lavar y secar/largo':'19', 'Color desde/corto':'11,50', 'Color desde/melena':'15', 'Color desde/medio largo':'19', 'Color desde/largo':'23', 'Mechas a peine/corto':'12', 'Mechas a peine/melena':'16', 'Mechas a gorro/corto':'16', 'Mechas a gorro/melena':'25', 'Mechas a plata/corto':'15', 'Mechas a plata/melena':'27', 'Mechas a plata/medio largo':'38', 'Moldeado/corto':'22', 'Moldeado/melena':'30', 'Moldeado/medio largo':'40'}
        tr
          td= service
          td.right= price + "€"
    p.note **Excepto mascarillas y ampollas, todos los suplementos vienen incluidos en el servicio (champú,espuma,crema... ) **
    h3.middle-size Suplementos
    table
      each price, service in {'Mascarilla/Ampolla anticaída/Ampolla queratina':'3'}
        tr
          td= service
          td.right= price + '€'
    h3.small-size Lunes por la mañana pidiendo cita, mayores de 65 años
    table
      each price, service in {'Lavar y marcar con rulos':'7', 'Corte':'8', 'Color desde':'10'}
        tr
          td= service
          td.right= price + '€'
    p.note **Excepto mascarillas y ampollas, todos los suplementos vienen incluidos en el servicio (champú,espuma,crema...) **
div.shop
  h3 Productos
  p Si te interesa alguno de nuestros productos, ven a la peluquería. Estaremos encantados de atenderte. También puedes informarte llamando al <a href="tel:962057666">962 05 76 66</a>.
  div.product-list
    div.product
      a(href="assets/img/productos/grande/champu-anticaida-careprof.jpg", data-title="Refuerza el cabello debilitado, evita la pérdida  de densidad capilar y corrige el desequilibrio del cuero cabelludo. 500 ml 13€", data-lightbox="product")
        img(src="assets/img/productos/peque/champu-anticaida-careprof.jpg")
      p Champú Anticaida Careprof
    div.product
      a(href="assets/img/productos/grande/champu-anticaida-cosmelitte.jpg", data-title="Estimula el riego sanguineo. Incorpora proteína de placenta, reactiva el metabolismo celular y mejora la oxigenación. 1 litro 12€", data-lightbox="product")
        img(src="assets/img/productos/peque/champu-anticaida-cosmelitte.jpg")
      p Champú Anticaida
    div.product
      a(href="assets/img/productos/grande/champu-hidrocolor.jpg", data-title="Contiene un complejo multivitamínico, vitamina A, evita la descamación y pérdida de brillo. Vitamina E, efecto antioxidante y propiedad regeneradora,prolonga la duración del color. Y vitamina F, mejora la sequedad del cabello favoreciendo su hidratación. 1 litro 12€", data-lightbox="product")
        img(src="assets/img/productos/peque/champu-hidrocolor.jpg")
      p Champú Hidrocolor
    div.product
      a(href="assets/img/productos/grande/champu-neutro-ph-55.jpg", data-title="Champú suave y cremoso de uso frecuente. Limpia el cabello y cuero cabelludo sin resecarlo. 1 litro 12€", data-lightbox="product")
        img(src="assets/img/productos/peque/champu-neutro-ph-55.jpg")
      p Champú Neutro PH 5.5
    div.product
      a(href="assets/img/productos/grande/champu-protein-secos.jpg", data-title="Champú con proteínas de leche, regenera e hidrata la estructura capilar. Deja el cabello muy suave. 1 litro 12€", data-lightbox="product")
        img(src="assets/img/productos/peque/champu-protein-secos.jpg")
      p Champú Protein Secos
    div.product
      a(href="assets/img/productos/grande/champu-volumen-energizante.jpg", data-title="Aporta cuerpo, brillo y elasticidad. Incorpora proteína de colágeno y de queratina que proporciona volúmen y cuerpo al cabello. 1 litro 12€", data-lightbox="product")
        img(src="assets/img/productos/peque/champu-volumen-energizante.jpg")
      p Champú Volumen Energizante
    div.product
      a(href="assets/img/productos/grande/locion-anticaida.jpg", data-title="Estimula la microcirculación y permite la reducción del exceso de sebo, dotando al cabello de mayor vigorosidad y resistencia.  100 ml 16€", data-lightbox="product")
        img(src="assets/img/productos/peque/locion-anticaida.jpg")
      p Loción Careprof
    div.product
      a(href="assets/img/productos/grande/ampollas-anticaida.jpg", data-title="Aumenta la actividad celular del folículo piloso, regenerando a la vez el tejido epitelial. Refuerza el cabello debilitado y evita la pérdida de densidad capilar. Produce un cabello más fuerte evitando la fragilidad de la raiz. 8 ampollas de 10 ml 16 €", data-lightbox="product")
        img(src="assets/img/productos/peque/ampollas-anticaida.jpg")
      p Ampollas anticaída
    div.product
      a(href="assets/img/productos/grande/brillo-osis.jpg", data-title="Cabello brillante, mejora la peinabilidad, efecto acondicionador (en mojado). 300 ml 14€", data-lightbox="product")
        img(src="assets/img/productos/peque/brillo-osis.jpg")
      p Brillo Osis+
    div.product
      a(href="assets/img/productos/grande/espuma.jpg", data-title="Espuma de fijación y volúmen. Incorpora un sistema de protección para el cabello dándole cuerpo y brillo, facilitando con su aplicación el desenredado. 300ml 10€", data-lightbox="product")
        img(src="assets/img/productos/peque/espuma.jpg")
      p Espuma
    div.product
      a(href="assets/img/productos/grande/laca-eco-fuerte.jpg", data-title="Laca ecológica, sin gas. Fijación fuerte. 10€", data-lightbox="product")
        img(src="assets/img/productos/peque/laca-eco-fuerte.jpg")
      p Laca Eco 13
    div.product
      a(href="assets/img/productos/grande/laca-eco-suave.jpg", data-title="Laca ecológica, sin gas. Fijación suave. 10€", data-lightbox="product")
        img(src="assets/img/productos/peque/laca-eco-suave.jpg")
      p Laca Eco 12
    div.product
      a(href="assets/img/productos/grande/cristal-bath.jpg", data-title="Tratamiento de brillo. Después de lavar el cabello, quitar exceso de agua y aplicar el producto en medios y puntas, cubrir con gorro, dejar actuar 20 minutos. 60 ml 9€", data-lightbox="product")
        img(src="assets/img/productos/peque/cristal-bath.jpg")
      p Crystal Bath
    div.product
      a(href="assets/img/productos/grande/hidrohair-active.jpg", data-title="Hidrata y protege el cabello, reestructurando las fibras capilares. Actúa en profundidad como una mascarilla pero en solo 5 minutos, deja el cabello seda. Una ampolla a la semana. 6 ampollas de 10 ml 12€", data-lightbox="product")
        img(src="assets/img/productos/peque/hidrohair-active.jpg")
      p Hydrohair Active
    div.product
      a(href="assets/img/productos/grande/keratin-repair.jpg", data-title="Deja el cabello suave y nutrido, aporta queratina al cabello. Aplicar después de lavar, la cantidad de un “garbanzo”, sin aclarado, antes del uso del secador o plancha. También se puede aplicar en seco en las puntas. 75 ml 10€", data-lightbox="product")
        img(src="assets/img/productos/peque/keratin-repair.jpg")
      p Keratin Repair
    div.product
      a(href="assets/img/productos/grande/aceite-argan.jpg", data-title="Aporta brillo, suavidad y luminosidad. Revitaliza y fortalece el cabello. Rapida absorción, no graso. Se usa en seco y mojado. 4ml 4€.", data-lightbox="product")
        img(src="assets/img/productos/peque/aceite-argan.jpg")
      p Aceite Argán
    div.product
      a(href="assets/img/productos/grande/mascarilla-gold.jpg", data-title="Mascarilla capilar sin enjuague con aceite de argán. No graso. 250 ml 11€", data-lightbox="product")
        img(src="assets/img/productos/peque/mascarilla-gold.jpg")
      p Mascarilla Gold
    div.product
      a(href="assets/img/productos/grande/mascarilla-instant-3.jpg", data-title="Mascarilla capilar nutritiva sin enjuague evita las agresiones externas, con protección solar, ideal para piscina y playa. Facil aplicación, no graso. 200ml 11€", data-lightbox="product")
        img(src="assets/img/productos/peque/mascarilla-instant-3.jpg")
      p Mascarilla Instant 3
    div.product
      a(href="assets/img/productos/grande/mascarilla-keratin-9.jpg", data-title="Mascarilla reestructurante sin enjuague con colágeno, y protección solar. Ideal para cabello rizado. 200 ml 11€", data-lightbox="product")
        img(src="assets/img/productos/peque/mascarilla-keratin-9.jpg")
      p Mascarilla Keratin 9
    div.product
      a(href="assets/img/productos/grande/salerm-21.jpg", data-title="Deja el cabello nutrido, como la seda. Tiene dos formas de aplicación, como mascarilla sin enjuague, aplicar poca cantidad, o aplicando el doble de cantidad y dejar actuar 20 minutos, como mascarilla de enjuague. 100ml 8€", data-lightbox="product")
        img(src="assets/img/productos/peque/salerm-21.jpg")
      p Salerm 21

div.where
  div
    div.how-to-get
      h3 ¿Dónde estamos?
      p Calle Brasil Nº20
      p 
        a(href="tel:962057666") Teléfono 96 205 76 66
          span.icon.icon-phone
      p CITA PREVIA
      p 46018 - Valencia
      h3.last ¿Cómo llegar?
      p Metro: Líneas 3 y 5, parada Avenida del Cid.
      p Autobús: Líneas 81 y 29, parada Brasil.
    div.map#mapid-57841200-edec-4955-b050-f97c3bc89c1b
